<h3>Edit your profile</h3>
{{!-- action='/clubs/club/{{club._id}}/edit' --}}
<form method='POST'>

  <label for=''>Name</label>
  <input
    value='{{profile.name}}'
    id='input-name'
    name='name'
    type='text'
    placeholder='Your name...'
  />

  <label for='input-email'>Email address</label>
  <input
    value='{{profile.email}}'
    id='input-email'
    name='email'
    type='text'
    placeholder='Email address'
  />

  <button>Edit club</button>
</form>

{{!-- action='/clubs/club/{{club._id}}/edit' --}}