<div class='container'>

  <div class="page-hero">

    <div class='banner-img-box profile-banner'>
      <img src='/images/hero-profile-edit.svg' alt='Your BookBudds profile' />
    </div>

    <div class='crud-forms-container'>
      <h3>Edit your profile</h3>

      <form method='POST'>
        <div>
          <label for=''>Name</label>
          <input value='{{profile.name}}' id='input-name' name='name' type='text' placeholder='Your name...' />
        </div>

        <div>
          <label for='input-email'>Email address</label>
          <input value='{{profile.email}}' id='input-email' name='email' type='text' placeholder='Email address' />
        </div>

        <button class="button">Edit club</button>
      </form>
    </div>
  </div>
</div>