 {{#if books}}
<div class='container'>
  <h2>Awarded Books</h2>
  <div class="items">
  {{#each books}}
    <div class='item'>
      <div class='item-photo'><img src={{this.volumeInfo.imageLinks.thumbnail}} /></div>
      <div class='item-info'>
        <div><a href='books/book/{{this.id}}'>{{truncate this.volumeInfo.title 30}}</a></div>
        <div><a href='books/book/{{this.id}}'>View</a></div>
      </div>
    </div>
  {{/each}}
  {{/if}}
  </div>
  </div>