<div class=" container">


    <div class="redirect">
        <div class="titles">
            <h2>Authentication Required</h2>
            <p>To see this page, you need to sign in. <br>
                <span>If you don't have an account yet</span>
            </p>
        </div>

        <div class="redirect-btn-box">
            <a class="redirect-btn" href="/authentication/sign-up">Sign up</a>
            {{!-- <form action="/authentication/sign-up" method="GET">
                <button class="redirect-btn">Sign up</button>
            </form> --}}
        </div>
    </div>



    <div class="auth-forms-container">
        {{> login}}
    </div>

</div>