<div class="container">

  <section class="section-book-search">

    <div class="book-search-banner">
      <img src="/images/bookbudds-ban.png">
    </div>

    <div class="search-form-books">
      <form action='/books/book/search/:search' method="post" id="search-form">
        <input type="text" name="search" id="search" placeholder='Search Books' value="{{searchTerm}}" />
        <select name="searchby" class="searchby" aria-label="Search by">
          <option value="all">All</option>
          <option value="intitle">Title</option>
          <option value="inauthor">Author</option>
          <option value="categories">Genres</option>
        </select>
        <button>Go</button>
      </form>
    </div>

    <p>In most cases, the first things that come to mind when people think about libraries are books. Whether volumes of
      poetry, dictionaries, novels, biographies, school textbooks, non-fiction books, picture books, cookbooks or art
      books: <span>we collect general and specialised works on all areas and subjects, hardbacks and paperbacks in all
        sizes
        and formats.</span></p>

  </section>
</div>

{{> randomBooks}}