<div class="container home">
  <div class="hero-container">

    

    <div class="hero-clubs">
      <h2>Join a Club</h2>
      <p>Join one of many book clubs, read together and share your opinion</p>
    </div>

    <div><img src="/images/surveillance_re_8tkl.svg"></div>

    <div class="hero-book">
      <h2>Find a Book</h2>
      <p>Find your New favorite book</p>
    </div>

    {{!-- <div class="hero-connect">
      <h2>Your BookBudd</h2>
      <p>Connect with people and ame friends</p>
    </div> --}}
  </div>
</div>
{{> randomBooks}}