<div class="container home">

  <div class="hero-container">

    <div class="hero-ban">
      <a href="/clubs"><img src="/images/ban_club.png" alt="Join a Book Club"></a>
    </div>

    <div class="hero-ban">
      <a href="/books"><img src="/images/ban_book.png" alt="Browse Books"></a>
    </div>

    <div class="hero-ban">
      <a href="/reviews"><img src="/images/ban_reviews.png" alt="Book Reviews"></a>
    </div>
  </div>
  <div class="container inner">
    <div class="titles">
      <h2>Awarded Books</h2>
      <p>Choice Awards, the only major book awards decided by readers
        <span>Congratulations to the best books of the year!</span>
      </p>
    </div>
  </div>
</div>
{{> randomBooks}}