<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
  <title>{{title}}</title>
  <link rel='stylesheet' href='/styles/style.css' />
</head>

<body>
  <header>
    <nav>
      <a href='/'><img src="/images/logo.png"></a>
      <ul>
        <li><a href='/books'>Books</a></li>
        <li><a href='/clubs'>Clubs</a></li>
        {{#if user}}
        <li><a href='/private'>Profile</a></li>
        <form action='/authentication/sign-out' method='POST'>
          <button>Sign Out</button>
        </form>
        {{else}}
        <li><a href='/authentication/sign-in'>Log In</a></li>
        <li><a href='/authentication/sign-up'>Sign Up</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  {{{body}}}
  <script src='/scripts/script.js'></script>
</body>

</html>