<h2>Write a review</h2>
<form method='POST'>
  <label for='input-message'>Message</label>
  <textarea
    name='message'
    id='input-message'
    placeholder='Write a review...'
  ></textarea>
  <button>Submit review</button>
</form>