<div class='reviews-edit'>
  <form method='POST'>
    <label for='input-message'>Edit review</label>
    <textarea
      id='input-message'
      name='message'
      placeholder='Your message...'
    >{{reviews.message}}</textarea>
    {{!-- <input type="text" value="{{reviews.message}}" /> --}}

    <button class='buttons'>Submit changes</button>
  </form>

</div>