<h3>Edit your club</h3>

<form method='POST'>
  <label for=''>Name</label>
  <input
    value='{{club.name}}'
    id='input-name'
    name='name'
    type='text'
    placeholder='Enter club name.'
  />

  <label for='input-description'>Description</label>
  <input
    value='{{club.description}}'
    id='input-description'
    name='description'
    type='text'
    placeholder='Write a short description of your club...'
  />

  <button>Edit club</button>
</form>