@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: #3b352d;
  line-height: 1.5;
  background: #f4f3f0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style-type: none;
}

input,
label,
button {
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/**
 * HEADER
 * 
 */
header {
  background: #ff7e68;
}

nav {
  max-width: 1200px;
  display: flex;
  margin-inline: auto;
  justify-content: space-around;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul:last-of-type {
  margin-left: 40px;
}

nav ul li {
  margin-inline: 0.5rem;
}

nav form button {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  margin-left: 10px;
}

nav a {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
}

nav a,
nav button {
  padding: 1em 0;
  border: 0;
}

nav a:not(:last-child),
nav button:not(:last-child) {
  margin-right: 1em;
}

nav a:first-child,
nav button:first-child {
  margin-right: auto;
}

/**
 * CONTENT
 * 
 */
.container {
  max-width: 1200px;
  margin-inline: auto;
  margin-block: 150px;
}

.container.inner {
  margin-block: 80px;
}

.container.footer {
  margin: 0 auto;
  padding-block: 20px;
}

.titles h2 {
  font-size: 1.375rem;
  color: #3b352d;
  font-weight: 700;
  line-height: 1.2;
}

.titles p {
  position: relative;
  font-size: 0.875rem;
  font-weight: 400;
  padding-left: 25px;
  padding-block: 6px;
  margin-block-start: 10px;
}

.titles p:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #c5b094;
  width: 8px;
  height: 100%;
}

.titles p span {
  display: block;
  font-weight: 700;
}

/**
 * HOME
 * 
 */
.container.home {
  margin: 100px auto 0 auto;
}

.container.home .hero-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/**
 * FORMS
 * 
 */
form {
  display: flex;
  flex-direction: column;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

/**
 * BOOK SEARCH
 * 
 */
.section-book-search {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.section-book-search .search-form-books {
  width: 100%;
}

.section-book-search p {
  font-size: 0.8125rem;
}

.section-book-search p span {
  font-weight: 700;
}

form#search-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

form#search-form input {
  flex-basis: 80%;
  background: #f6f6f6;
  border: 1px #c5b094 solid;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 50px;
}

form#search-form select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background: #f6f6f6;
  border: 1px #c5b094 solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-left: -1px;
  font-weight: 700;
  font-size: 0.9375rem;
  height: 50px;
  text-align: center;
  min-width: 90px;
  cursor: pointer;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    form#search-form select {
      padding-inline-start: 40px;
    }
  }
}

form#search-form button {
  min-width: 90px;
  background: #f6f6f6;
  border: 1px #c5b094 solid;
  border-radius: 3px;
  margin-left: 25px;
  height: 50px;
  font-weight: 700;
  font-size: 0.9375rem;
  text-align: center;
  cursor: pointer;
}

/**
 * BOOKS
 * 
 */
.items {
  display: grid;
  justify-content: space-between;
  row-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(340px, 340px));
}

.items.profile {
  grid-template-columns: repeat(auto-fill, minmax(340px, 340px));
}

.items .item {
  display: flex;
  flex-direction: column;
}

.items .item-photo {
  width: 128px;
  height: 191px;
  position: relative;
  transition: all 0.3s;
}

.items .item-photo img {
  display: block;
  position: relative;
  width: 128px;
  height: 191px;
}

.items .item-photo:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 100%;
  height: 100%;
  background: #c5b094;
  opacity: 0.4;
  z-index: -1;
  transition: all 0.3s;
}

.items .item-photo:hover::before {
  left: -6px;
  top: -6px;
  opacity: 0.8;
  transition: all 0.3s;
}

.item-info {
  margin-block: 1rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.item-info h3 {
  font-size: 0.9375rem;
  color: "Montserrat", sans-serif;
  font-weight: 700;
}

.item-info h4 {
  padding-block: 5px;
  font-weight: 400;
  font-size: 0.875rem;
}

.item-info h4 + p {
  margin-top: 10px;
  font-size: 0.875rem;
  line-height: 20px;
}

.item-btn {
  margin-top: auto;
}

.item-btn .button {
  position: relative;
  width: 125px;
  height: 40px;
  border: 1px #c5b094 solid;
  border-radius: 3px;
  color: #3b352d;
  font-weight: 700;
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s;
}

.item-btn .button:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  background: #c5b094;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.item-btn .button:hover {
  color: #fff;
}

.item-btn .button:hover:after {
  top: 0;
  color: #fff;
}

/**
 * SINGLE
 * 
 */
.single {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  justify-content: space-between;
}

.single .single-photo {
  position: relative;
}

.single .single-photo img {
  position: relative;
  width: 210px;
  height: auto;
  max-width: none;
}

.single .single-photo:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 5px;
  background: #32362c;
}

.single .single-info {
  margin-block: 1rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.single .single-sidebar {
  margin-block: 1rem;
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  border-left: 1px gray solid;
}

.single .single-sidebar span {
  display: block;
  padding-block: 0.5rem;
  font-weight: 600;
}

/**
 * PROFILE
 * 
 */
.profile-info {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-block-end: 50px;
}

.profile-photo {
  width: 200px;
  height: 200px;
  background: #dbd2be;
  border-radius: 50%;
}

.fav-btn {
  border-radius: 50px;
  width: 55px;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ff7e67;
  background-image: linear-gradient(45deg, #c5b094 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.fav-btn:hover {
  cursor: pointer;
  background-position: 0;
  color: white;
}

/**
 * REVIEWS
 * 
 */
.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.reviews-top-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.review-btn {
  border-radius: 5px;
  border-color: #c5b094;
  border-width: 2px;
  width: 180px;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f3f0;
  background-image: linear-gradient(45deg, #c5b094 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.review-btn:hover {
  cursor: pointer;
  color: white;
  background-position: 0;
}

.review-single {
  margin-bottom: 3rem;
}

.review-creator {
  font-weight: bold;
  font-size: 1.2rem;
  font-style: italic;
}

.review-name-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.book-title {
  margin-bottom: 3rem;
  margin-right: 3rem;
  font-size: 1.5rem;
}

.author {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/**
 * CLUB-LIST
 * 
 */
.explore-clubs {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  justify-content: space-between;
}

.explore-clubs .button {
  position: relative;
  width: 180px;
  height: 40px;
  border: 1px #c5b094 solid;
  border-radius: 3px;
  color: #3b352d;
  font-weight: 700;
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s;
}

.explore-clubs .button:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  background: #c5b094;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.explore-clubs .button:hover {
  color: #fff;
}

.explore-clubs .button:hover:after {
  top: 0;
  color: #fff;
}

.club-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.club-list .club-list-item {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.club-list .club-list-text {
  font-weight: 100;
  font-size: large;
}

.club-list .button {
  position: relative;
  width: 180px;
  height: 40px;
  border: 1px #c5b094 solid;
  border-radius: 3px;
  color: #3b352d;
  font-weight: 700;
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s;
}

.club-list .button:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  background: #c5b094;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.club-list .button:hover {
  color: #fff;
}

.club-list .button:hover:after {
  top: 0;
  color: #fff;
}

/**
 * CLUB-SINGLE
 * 
 */
.single-sidebar-text {
  margin-block: 2rem;
}

/**
 * AUTH FORMS
 * 
 */
.auth-forms-container {
  max-width: 500px;
  margin-inline: auto;
  border: 1px #c5b094 solid;
  border-radius: 10px;
  padding: 50px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-forms-container h3 {
  margin-bottom: 30px;
  font-size: 1.1875rem;
  font-family: "Montserrat", sans-serif;
  color: #3b352d;
}

.auth-forms-container img {
  max-width: 200px;
}

.auth-forms-container form {
  width: 100%;
  max-width: 350px;
  margin-top: 25px;
  margin-inline: auto;
  color: #3b352d;
}

.auth-forms-container form > div {
  margin-bottom: 20px;
}

.auth-forms-container form input {
  background: #f6f6f6;
  border: 1px #c5b094 solid;
  border-radius: 3px;
  height: 40px;
  width: 100%;
  max-width: 350px;
  font-size: 0.9375rem;
}

.auth-forms-container form label {
  font-size: 0.8125rem;
  font-weight: 500;
  display: block;
}

.auth-forms-container form .auth-forms-actions {
  position: relative;
}

.auth-forms-container form .auth-forms-actions span {
  font-size: 0.8125rem;
}

.auth-forms-container form .auth-forms-actions span span {
  font-weight: 700;
}

.auth-forms-container form .auth-forms-actions .button {
  position: relative;
  width: 125px;
  height: 40px;
  border: 1px #c5b094 solid;
  border-radius: 3px;
  color: #3b352d;
  font-weight: 700;
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s;
}

.auth-forms-container form .auth-forms-actions .button:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  background: #c5b094;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.auth-forms-container form .auth-forms-actions .button:hover {
  color: #fff;
}

.auth-forms-container form .auth-forms-actions .button:hover:after {
  top: 0;
  color: #fff;
}

/**  FOOTER
 * 
 */
footer {
  margin-top: auto;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
  background: rgba(196, 175, 148, 0.3);
}

/**
 * @TODO
 * 
 */
.error-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 10px;
}

.error-messages h3 {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  background: #cd5d49;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.error-messages p {
  white-space: break-spaces;
  color: #cd5d49;
  font-size: 0.9rem;
}

/*# sourceMappingURL=style.css.map */