@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@400;500;700&display=swap');

// font family settings
$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-titles: 'Merriweather', serif;
$font-body: 'Montserrat', sans-serif;

// colors settings
$color-orange: rgb(255, 126, 104);
$color-body-text: #3b352d;
$color-brown: #c5b094;
$color-grey: hsl(0, 0, 90%);

// global settings

* {
  margin: 0;
  padding: 0;
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
body {
  font-family: $font-body;
  color: $color-body-text;
  line-height: 1.5;
  background: #f4f3f0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style-type: none;
}

input,
label,
button {
  font-family: $font-body;
}
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/**
 * HEADER
 * 
 */

header {
  background: $color-orange;
}
nav {
  max-width: 1200px;
  display: flex;
  margin-inline: auto;
  justify-content: space-around;

  ul {
    display: flex;
    align-items: center;

    &:last-of-type {
      margin-left: 20px;
    }

    li {
      margin-inline: 0.5rem;
    }
  }

  a {
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
  }

  a,
  button {
    padding: 1em 0;
    border: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}

/**
 * CONTENT
 * 
 */
.container {
  max-width: 1200px;
  margin-inline: auto;
  margin-block: 150px;

  &.inner {
    margin-block: 80px;
  }
}
.titles {
  h2 {
    font-size: 1.375rem;
    color: $color-body-text;
    font-weight: 700;
    line-height: 1.2;
  }
  p {
    position: relative;
    font-size: 0.875rem;
    font-weight: 400;
    padding-left: 25px;
    padding-block: 6px;
    margin-block-start: 10px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: $color-brown;
      width: 8px;
      height: 100%;
    }

    span {
      display: block;
      font-weight: 700;
    }
  }
}

/**
 * HOME
 * 
 */

.container.home {
  margin: 100px auto 0 auto;

  .hero-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/**
 * FORMS
 * 
 */

form {
  display: flex;
  flex-direction: column;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 1px solid $color-grey;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

form#search-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 2rem;

  input {
    flex-basis: 80%;
  }
}

/**
 * BOOKS
 * 
 */

.items {
  display: grid;
  justify-content: space-between;
  row-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(340px, 340px));

  .item {
    display: flex;
    flex-direction: column;
  }
  .item-photo {
    width: 128px;
    height: 191px;
    position: relative;
    transition: all 0.3s;

    img {
      display: block;
      position: relative;
      width: 128px;
      height: 191px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 100%;
      height: 100%;
      background: $color-brown;
      opacity: 0.4;
      z-index: -1;
      transition: all 0.3s;
    }
    &:hover::before {
      left: -6px;
      top: -6px;
      opacity: 0.8;
      transition: all 0.3s;
    }
  }
}
.item-info {
  margin-block: 1rem;
  font-size: 0.9rem;
  line-height: 1.2rem;

  h3 {
    font-size: 0.9375rem;
    color: $font-body;
    font-weight: 700;
  }
  h4 {
    padding-block: 5px;
    font-weight: 400;
    font-size: 0.875rem;
  }
  h4 + p {
    margin-top: 10px;
    font-size: 0.875rem;
    line-height: 20px;
  }
}
.item-btn {
  margin-top: auto;

  .button {
    position: relative;
    width: 125px;
    height: 40px;
    border: 1px $color-brown solid;
    border-radius: 3px;
    color: $color-body-text;
    font-weight: 700;
    font-size: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      background: $color-brown;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: all 0.3s;
    }
    &:hover {
      color: #fff;
    }
    &:hover:after {
      top: 0;
      color: #fff;
    }
  }
}

/**
 * SINGLE
 * 
 */

.single {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  justify-content: space-between;

  .single-photo {
    position: relative;
    img {
      position: relative;
      width: 210px;
      height: auto;
      max-width: none;
    }
    &:before {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 100%;
      height: 100%;
      border-bottom-right-radius: 5px;
      background: #c5b094;
    }
  }
  .single-info {
    margin-block: 1rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .single-sidebar {
    margin-block: 1rem;
    padding: 1rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
    border-left: 1px gray solid;

    span {
      display: block;
      padding-block: 0.5rem;
      font-weight: 600;
    }
  }
}

/**
 * @PROFILE
 * 
 */

.profile-info {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-block-end: 50px;
}
.profile-photo {
  width: 200px;
  height: 200px;
  background: #dbd2be;
  border-radius: 50%;
}

// REVIEWS

.fav-btn {
  border-radius: 50px;
  width: 55px;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ff7e67;
  background: {
    image: linear-gradient(45deg, #c5b094 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out;

  &:hover {
    cursor: pointer;
    background-position: 0;
    color: white;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  //align-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.reviews-top-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.review-btn {
  border-radius: 5px;
  border-color: #c5b094;
  border-width: 2px;
  width: 180px;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f3f0;
  //color: black;
  background: {
    image: linear-gradient(45deg, #c5b094 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out;

  &:hover {
    cursor: pointer;
    color: white;
    background-position: 0;
  }
}

.review-single {
  margin-bottom: 3rem;
  //font-size: 0.9rem;
}
.review-creator {
  font-weight: bold;
  font-size: 1.2rem;
  font-style: italic;
}

.review-name-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.book-title {
  margin-bottom: 3rem;
  margin-right: 3rem;
  font-size: 1.5rem;
}

.author {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.reviews-edit {
  max-width: 50%;
  padding: 3rem;
  margin-top: 10rem;
  //margin-inline: auto;
  //margin-block: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #c5b094;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  &.inner {
    margin-block: 80px;
  }
  .buttons {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    margin-right: 0.5rem;
    font-weight: bold;
  }
}

.review-edit-btns {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  .buttons {
    border: none;
    margin-right: 0.5rem;
  }
}
